langchain==0.1.17
langchain-community==0.0.38
langchain-core==0.1.53
langchain-openai==0.0.8
langchain-postgres==0.0.9
langchain-text-splitters==0.0.2
openai==1.93.3
python-dotenv==1.0.1
pytesseract==0.3.10
pdf2image==1.16.3
Pillow==9.5.0
psycopg==3.2.9
faiss-cpu==1.8.0
pypdf==3.17.4
